# Binaries
*.exe
!bin/brutalist_void.exe
*.dll
*.o
obj/

# Ignore curious standalone demo completely
curious/

# Visual Studio Code
.vscode/

# System
Thumbs.db
Desktop.ini

# Logs
*.log
recording.mp4
